.MainText {
    font-family: 'GmkBold';
    font-size: 6rem;
}

.img {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px;;
}

.Text {
    position: relative;
    padding: 1.25rem 0 1rem;
}

.TextTitle {
    font-size: large;
    font-weight: bold;
    margin-bottom: 3px;
}

.TextContent {
    font-size: medium;
}

.tagWrap {
    font-size: x-large;
    font-weight: bold;
}

.crousel-wrapper {
    width: 250px;
    height: 325px;
}

.crousel-wrapper > .carousel {
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
    @keyframes autoPlay {
        0% {
            transition: translateX(0);
        }
        100% {
            transform:  translateX(calc(-250px * ))
        }
    }
}

.crousel-wrapper > .carousel > .carousel_img {
    width: 250px;
    height: 325px;
}